
.header {
    &-bottom {
        background: rgba(183, 223, 126, 0.2);
    }
}


.social {
    svg {
        transition: all .33s;

        &:hover {
            fill: #F99746;
        }
    }
}

.nav {
    a {
        font-family: Fira Sans Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        color: #8EA83C;
        transition: all .33s;
        padding-right: 35px;
        border-right: 3px solid white;

        &:hover {
            color: #F99746;
        }

        &:last-child {
            border-right: none;
        }
    }

    
}