
.header {
    &-bottom {
        background: rgba(183, 223, 126, 0.2);
    }
}


.nav {
    a {
        font-family: Fira Sans Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        color: #8EA83C;
        transition: all .33s;

        &:hover {
            color: #F99746;
        }
    }
}