.history {
    &-block {
        h4 {
            font-family: Fira Sans Condensed;
            font-style: normal;
            font-weight: 300;
            font-size: 35px;

            span {
                font-size: 50px;
            }
        }

        .power {
            font-family: Rubik;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            color: #F99746;
        }

        p {
            font-family: Rubik;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            color: #858585;
        }
    }
}