.intro {
    background: url("../public/images/intro-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    // background-position-y: 30%;

    &-block {
        span {
            font-family: Rubik;
            font-style: normal;
            font-weight: 300;
            font-size: 25px;
            color: #F99746;
        }

        h1 {
            font-family: Fira Sans Condensed;
            font-style: normal;
            font-weight: 500;
            font-size: 70px;
        }
    }
}