@import './carousel.css';

// Your customize CSS

@import "blocks/header";
@import "blocks/intro";
@import "blocks/services";




// @font-face {
//     font-family: 'Sheep Sans';
//     src: url('../fonts/SheepSans.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
// }

body {
    font-family: Rubik, Fira Sans Condensed, sans-serif;
    color: #949794;

}


a {
    text-decoration: none;
    color: #949794;
    &:hover {
        text-decoration: none;
    }
}

.btn {

    &-green {
        background: linear-gradient(251.86deg, #A8C746 6.95%, #686800 134.65%);
        border-radius: 31px;
        color: white;
    }
}
