@import "blocks/header";
@import "blocks/intro";
@import "blocks/services";
@import "blocks/certificates";
@import "blocks/history";
@import "blocks/price";
@import "blocks/new";




body {
    font-family: Rubik, Fira Sans Condensed, sans-serif;
    color: #8EA83C;

}


a {
    text-decoration: none;
    color: #949794;
    &:hover {
        text-decoration: none;
    }
}

.btn {

    &-green {
        background: linear-gradient(251.86deg, #A8C746 6.95%, #686800 134.65%);
        border-radius: 31px;
        color: white;
    }
}
